@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4;" style="background-color: #000000	; color: #A71818; border:5px solid #A71818; padding:3px;">Emzastan's National Movie Catalog (ENMC)</h1>
    <p><b>Emzastan National Television (ENT) © 2024</p>
</div>
